body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#caixa {
    background-color: #ffff;
    width: 350px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    text-align: center;
    margin: 100px auto;
}

#input-tarefa {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

#botao-adicionar {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #f56bc0;
    border-radius: 5px;
    background-color: #f56bc0;
    color: black;
}

#titulo {
    text-align: center;
}

.botao-remover {
    border: none;
    background-color: none;
    cursor: pointer;
}

li {
     list-style: none; /* remove o estilo de lista(remove bolinhas) */
     background-color: #EEEEEE;
     padding: 10px;
     border-radius: 10px;
    margin-bottom: 10px;  /*margem na base do elemento*/

    display: flex;
    justify-content: space-between; /*coloca espaço entre os elementos*/
    align-items: center;
}

#lista-tarefas {
    padding: 0;
}
/*teste*/